.searchicon {
    position: absolute;
    top: 42px;
    left: 30px;
    height: 100px;
    width: 100px;
    /* background: red; */
    z-index: 3;
}
.search input {
    position: absolute;
    z-index: 2;
    background: white;
    height: 50px;
    width: 90%;
    box-shadow: 5px 5px 10px #ccc;
    border-radius: 50px;
    padding: 15px;
    top: 30px;
    margin: 0 1.5em;
    text-indent: 30px;
}
.search input:focus {
    outline: none;
    border: none;
}